PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=newsdb
REDIS_ADDR=localhost:6379
NEWS_API_URL=https://newsapi.org/v2/everything?q=European%20football&language=en&sortBy=publishedAt
NEWS_API_KEY=4bb1b5af788d484896398b84654c1221
REFRESH_TOKEN=
